.tableContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 200px;
  height: 50vh;
  overflow: scroll;
}

.table {
  border-collapse: collapse;
  width: 80vw;
}

.tableHeader {
  text-align: left;
  border-top: 1px solid lightgray;
  margin-right: 20px;
}

th {
  padding: 20px;
}

@media (max-width: 767px) {
  .table {
    border-collapse: collapse;
    width: 100vw;
  }
}

