.tableContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 70vw;
  height: 70vh;
  overflow: scroll;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.tableHeader {
  text-align: left;
  margin-right: 20px;
  position: sticky;
  top: 0;
  background-color: lightgray;
}

th {
  padding: 20px;
}

#headerNumber {
  width: 10px;
}

@media (min-width: 768px) and (max-width: 1400px){
  .tableContainer {
    margin-top: 100px;
    margin-bottom: 200px;
    width: 90vw;
    height: 70vh;
  }
}

@media (max-width: 767px) {
  .tableContainer {
    margin-top: 100px;
    margin-bottom: 200px;
    width: 94vw;
    height: 70vh;
  }

  .table {
    font-size: 12px;
  }
}

